<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <%= link_to root_path, class: "flex items-center" do %>
      <%= image_tag "logo.png", class: "h-40" %>
    <% end %>
    <div class="flex items-center">
      <a href="tel:5541251234" class="mr-6 text-sm  text-gray-500 dark:text-white hover:underline font-extrabold">+40737014770</a>
    </div>
  </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
        <li>
          <%= link_to "Home", root_path, class: "text-gray-900 dark:text-white hover:underline" %>
        </li>
        <li>
          <%= link_to "The team", about_path, class: "text-gray-900 dark:text-white hover:underline" %>
        </li>
        <li>
          <%= link_to "Our projects", projects_path, class: "text-gray-900 dark:text-white hover:underline" %>
        </li>
        <li>
          <%= link_to "Contact", contact_path, class: "text-gray-900 dark:text-white hover:underline" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
